{% extends "base.html" %}
{% block title %}Reset Password{% endblock %}

{% block content %}

<div class="d-flex align-items-center justify-content-center vh-100">
<div class="col-md-6 col-lg-4">
  <div class="text-center mb-4">
            <i class="fas fa-crow fa-3x mb-2" style="color: #403c70;"></i>
            <h1 class="h4 fw-bold" style="color: #403c70;">StudyNest</h1>
  </div>
    <div class="reset-password-container">
      <div class="rp__heading">Reset your password</div>

      <form method="post" class="rp__form">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

        <div class="rp__field">
          <div class="rp__label">{{ form.password.label }}</div>
          <div class="rp__input">{{ form.password(size=32) }}</div>
          {% if form.password.errors %}
            <div class="rp__errors">
              {% for err in form.password.errors %}
                <div class="rp__error">{{ err }}</div>
              {% endfor %}
            </div>
          {% endif %}
        </div>

        <div class="rp__field">
          <div class="rp__label">{{ form.confirm.label }}</div>
          <div class="rp__input">{{ form.confirm(size=32) }}</div>
            {% if form.confirm.errors %}
            <div class="rp__errors">
              {% for err in form.confirm.errors %}
                <div class="rp__error">{{ err }}</div>
              {% endfor %}
            </div>
          {% endif %}
        </div>

        <div class="rp__submit">
          {{ form.submit() }}
        </div>
      </form>
  </div>
</div>
</div>
{% endblock %}
