{% extends "base.html" %}
{% block title %}{{ action }} User{% endblock %}

{% block content %}
<div class="container py-4">
    <div class="card p-4">
        <h3>{{ action }} User</h3>
        {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endif %}
        <form method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <div class="mb-3">
                <label class="form-label">Name</label>
                <input type="text" class="form-control" name="name" required value="{{ user[0] if user else '' }}" required>
            </div>
            <div class="mb-3">
                <label class="form-label">Email</label>
                <input type="email" class="form-control" name="email" required value="{{ user[1] if user else '' }}" required>
            </div>

            {% if action == 'Add' %}
            <div class="mb-3">
                <label class="form-label">Password</label>
                <input type="password" class="form-control" name="password" required>
            </div>
            {% endif %}

            <div class="mb-3">
                <label class="form-label">Role</label>
                <select class="form-select" name="role">
                    {% for r in ['student', 'educator', 'admin'] %}
                    <option value="{{ r }}" {% if user and user[2]==r %}selected{% endif %}>{{ r.title() }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <label for="course_codes" class="form-label">Courses</label>
                <select class="form-select" name="course_codes" id="course_codes" multiple size="5" required>
                    {% for code in course_codes %}
                    <option value="{{ code }}" {% if code in assigned_codes %}selected{% endif %}>{{ code }}</option>
                    {% endfor %}
                </select>
                <div class="form-text">
                    Hold Ctrl (Cmd on Mac) to select or deselect multiple courses.
                </div>
            </div>
            <button type="submit" class="btn btn-primary">{{ action }}</button>
        </form>
    </div>
</div>
{% endblock %}